.inputForm {
  width: 100%;
}

.newTaskInput {
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  height: 1.5rem;
  position: absolute;
  font-family: inherit;
}

.inputCross {
  all: unset;
  position: relative;
  left: 85%;
  cursor: pointer;
}

.newAreaInput {
  font-family: inherit;
  text-indent: 10px;
  border: none;
  outline: none;
  height: 1.5rem;
  background-color: var(--new-area-input-bg-color);
  font-weight: bold;
}
