.toDoSection {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.toDoUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  font-size: var(--font-size-medium);
  list-style: none;
}

.toDoLi {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: inherit;
}

.formContainer {
  width: 100%;
  height: 8rem;
  box-shadow: 2px 6px 5px hsla(0, 1%, 86%, 0.941),
    -3px -3px 5px hsla(0, 1%, 86%, 0.9);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  /* opacity: 0; */
}
.formToDo {
  height: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 1rem;
  margin-bottom: 0;
  /* background-color: rebeccapurple; */
  position: relative;
}
.btnCheckbox {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 2;
  visibility: hidden;
}
.btnCheckbox::after {
  display: block;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: visible;
}

.inputHolder {
  position: absolute;
  top: 0;
  left: 1.8rem;
}

.inputToDo {
  border: none;
  outline: none;
  opacity: 0;
}

.notesToDo {
  font-size: 1rem;
  outline: none;
  border: none;
  flex: 0 0 50%;
  margin: 1rem;
  margin-top: 0;
  text-indent: 2px;
}
