.toDoSection {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.projectUl {
  display: none;
}

.toDoUl,
.projectUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  font-size: var(--font-size-medium);
  list-style: none;
}

.toDoLi {
  display: flex;
  align-items: center;
  width: inherit;
  cursor: pointer;
  justify-content: space-between;
}
.toDoCheckbox {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid black;
  border-radius: 50%;
  flex: 0 0 1.2rem;
  cursor: inherit;
}
.toDoCheckbox:checked {
  background-color: rgba(252, 2, 2, 0.584);
}

.toDoText {
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  padding-left: 0.3rem;
  flex: 0 0 80%;
}

/* to Do inputFrom */

.formContainer {
  width: 100%;
  box-shadow: 2px 6px 5px hsla(0, 1%, 86%, 0.941),
    -3px -3px 5px hsla(0, 1%, 86%, 0.9);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 0;
  overflow: hidden;
  /* opacity: 0; */
  transition: height 0.1s;
  position: relative;
}

.showForm {
  height: 8rem;
}

.formCloseBtn {
  cursor: pointer;
  position: absolute;
  right: 4%;
  top: 6%;
}

.formToDo {
  height: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 1rem;
  margin-bottom: 0;
  /* background-color: rebeccapurple; */
}

.checkboxInput {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid black;
  border-radius: 50%;
}
.checkboxInput:checked {
  background-color: black;
}

.inputToDo {
  display: block;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  flex: 0 0 2;
}

.notesToDo {
  font-size: 1rem;
  outline: none;
  border: none;
  flex: 0 0 50%;
  margin: 1rem;
  margin-top: 0;
  text-indent: 2px;
}
/* to do  */
.checkedToDo {
  opacity: 70%;
  text-decoration: line-through;
}
