.toDoSection {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.toDoUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  font-size: var(--font-size-medium);
  list-style: none;
}

.toDoLi {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: inherit;
}

.formToDo {
  width: 100%;
  height: 6rem;
  background-color: greenyellow;
  box-shadow: -0.5rem -0.5rem rgb(237, 234, 234);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.inputToDo {
  outline: none;
  border: none;
}
.notesToDo {
  border: none;
}
