.inputForm {
  width: 100%;
}

.newTaskInput {
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  height: 1.5rem;
  position: absolute;
}

.inputCross {
  display: block;
  position: relative;
  left: 85%;
}
