* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  height: 100dvh;
  width: auto;
  display: block;
}

.body {
  display: block;
  height: 100%;
  display: flex;
  background-color: var(--body-bg-color);
}
.aside {
  width: 30%;
  height: 100%;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
}
.main {
  width: 80%;
  height: 100%;
}
