.nav {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 2rem;
}

.nav > * {
  margin-left: 2rem;
}

.cap_ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cap_li:first-child {
  margin-bottom: 1.2rem;
}
.cap_li:last-child {
  margin-top: 1.2rem;
}

.taskAreaCon {
  overflow-y: auto;
}
.taskArea {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style: none;
}

.taskCaption {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20%;
}

.plusTask {
  font-size: 1.5rem;
  opacity: 0;
}
.taskCaption:hover > .plusTask {
  opacity: 100;
}

.btnNewTask {
  all: unset;
  margin-top: auto;
  border-top: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}
