.nav {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  gap: 1rem;
  padding-left: 15%;
  flex: 0 0 94%;
}

.btnNewTask {
  all: unset;
  border-top: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size-medium);
  text-align: center;
}

.cap_ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cap_li:first-child {
  margin-bottom: 1.2rem;
}
.cap_li:last-child {
  margin-top: 1.2rem;
}

.taskAreaCon {
  padding-top: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.taskArea {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1rem;
}

.taskCaption {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20%;
}

.plusTask {
  font-size: 1.5rem;
  opacity: 0;
}
.taskCaption:hover > .plusTask {
  opacity: 100;
}

.taskList {
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.deleteArea {
  all: unset;
  width: 6rem;
  height: 2rem;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 100;
  cursor: pointer;
  border: 1px solid rgb(210, 189, 189);
}

.deleteArea:hover {
  background-color: var(--area-delete-btn-bg-color);
}
