:root {
  --nav-bg-color: #f4f5f7;
  --body-bg-color: white;
  --new-area-input-bg-color: #cfd0d2;

  --main-font: "Roboto", sans-serif;
  --font-size-medium: 1.1rem;
}

@import "./html.css";
@import "./nav.css";
@import "./form.css";
@import "dashboard.css";
